---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-thermo-pilot-yadon3141-com-v1-thermopilot
  failurePolicy: Fail
  name: mthermopilot-v1.kb.io
  rules:
  - apiGroups:
    - thermo-pilot.yadon3141.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - thermopilots
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-thermo-pilot-yadon3141-com-v1-thermopilot
  failurePolicy: Fail
  name: vthermopilot-v1.kb.io
  rules:
  - apiGroups:
    - thermo-pilot.yadon3141.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - thermopilots
  sideEffects: None
