---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - thermo-pilot.yadon3141.com
  resources:
  - thermopilots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - thermo-pilot.yadon3141.com
  resources:
  - thermopilots/finalizers
  verbs:
  - update
- apiGroups:
  - thermo-pilot.yadon3141.com
  resources:
  - thermopilots/status
  verbs:
  - get
  - patch
  - update
